html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	text-align: center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}
label:hover {
	cursor: pointer;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	color: white;
	background-color: black;
}
body, input, textarea {
	font-family: 'Segoe UI',Helvetica,Arial,'Sans-Serif';
}

.clearer {
	clear: both;
}
.room {
	display: none;
}
.room.show {
	display: block;
}
.button,
#settings input[type="text"] {
	margin: 15px auto;
	max-width: 230px;
	border: 3px solid #828282;
	color: #828282;
	text-transform: uppercase;
	padding: 15px;
	font-size: 20px;
	background-color: transparent;
	text-align: center;
}
.button:hover {
	cursor: pointer;
}
.button.selected,
#game.right .keyboard .button.submit,
#game.wrong .keyboard .button.submit {
	border-color: transparent;
	background-color: #0050EF;
	color: white;
}
#settings input[type="text"] {
	text-transform: none;
}
#settings input[type="text"]:focus {
	color: white;
	border-color: white;
}
#messages .msg {
	display: none;
}
#messages .msg.show {
	display: block;
}
#game:after {
	transition: all .2s;
	-webkit-transition: all .2s;
	content: '';
	display: block;
	position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
}
#game.wrong:after {
	border: 1px solid #FF0000;
	box-shadow: inset 0 0 20px #FF0000;
	z-index: 9;
}
#game.right:after {
	border: 1px solid #00FF00;
	box-shadow: inset 0 0 20px #00FF00;
	z-index: 9;
}
.task {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	border: 1px solid white;
	color: white;
	transition: color .2s, background-color .2s, box-shadow .2s, opacity .4s;
	-webkit-transition: color .2s, background-color .2s, box-shadow .2s, opacity .4s;
	margin-top: 10px;
	opacity: 0;
}
.task.show {
	opacity: 1;
}
.task.danger {
	color: black;
	background-color: white;
}
.task.late {
	border-color: #FF0000;
	box-shadow: 0 0 5px #FF0000;
}
.task .title {
	padding: 5px;
}
.task .t_wrapper {
	padding: 5px;
}
.task .time {
	height: 10px;
	width: 0%;
	margin: 0 auto;
	background-color: white;
	opacity: 0;
	transition: width .12s, opacity .4s, background-color .2s;
	-webkit-transition: width .12s, opacity .4s, background-color .2s;
}
.task.solved .t_wrapper {
	display: none;
}
.task .player {
	line-height: 20px;
	height: 20px;
}
.task.danger .time {
	background-color: black;
}
.task.solved .title {
	color: rgba(255,255,255,0.3);
}
.task.solved {
	border-color: rgba(255,255,255,0.3);
}
.roomTitle {
	font-size: 30px;
	padding: 15px 0 10px 0;
	font-weight: bold;
}
#lobby .failure {
	display: none;
	padding-bottom: 3px;
	color: #FF0000;
}
#lobby .failure .level {
	font-weight: bold;
}
#lobby .failure.show {
	display: block;
}
#lobby .levelNumb {
	font-size: 22px;
	font-weight: normal;
}
#lobby .storyTitle {
	padding-bottom: 5px;
}
#lobby .story,
.stats {
	max-width: 250px;
	margin: 15px auto;
	padding: 5px;
	border: 3px solid #2C2C2C;
}
#lobby .levelTitle {
	font-size: 22px;
	padding: 5px;
}
#lobby .levelText {
	width: 250px;
	overflow: auto;
	text-align: center;
}
#lobby .levelText > div {
	padding: 5px 0;
}
#lobby .levelText p {
	padding: 5px;
	text-align: justify;
	text-indent: 35px;
}
#game .countdown {
	padding-top: 35px;
	font-size: 50px;
	font-weight: bold;
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
}
#game .countdown.hide {
	opacity: 0;
}
#game .tasks {
	position: absolute;
		top: 0;
		left: 0;
		right: 0;
	overflow: hidden;
	z-index: 6;
	padding-bottom: 280px;
}
#game.hideKeyboard .tasks  {
	padding-bottom: 70px;
}
#game .control {
	position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	z-index: 7;
	height: 280px;
	background-color: black;
}
#game.hideKeyboard .control {
	height: 70px;
}
.keyboard {
	width: 280px;
	margin: 0 auto;
	font-size: 30px;
	position: relative;
}
.keyboard .button {
	text-align: left;
	margin: 5px;
	width: 44px;
	height: 34px;
	padding: 20px 5px 0 5px;
	float: left;
	font-size: inherit;
}
.keyboard .button.backspace {
	width: 114px;
	text-align: center;
}
.keyboard .button.submit {
	width: 254px;
	line-height: 34px;
	padding: 5px;
	text-align: center;
	max-width: none;
	overflow: hidden;
}
.hideKeyboard .button:not(.submit) {
	display: none;
}
.stats {
	padding-bottom: 10px;
}
.stats .levelFailure,
.stats .tasksSolved {
	font-weight: bold;
}
.stats > .titles {
	color: #828282;
}
.stats > .titles > div {
	float: left;
	margin-bottom: 10px;
	height: 30px;
	line-height: 30px;
	font-size: 23px;
}
.stats > .list > div {
	clear: both;
}
.stats > .titles > .nick,
.stats > .list > div > .nick {
	width: 60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	text-indent: 5px;
}
.stats > .titles > .rank,
.stats > .list > div > .rank {
	width: 10%;
}
.stats > .titles > .answers {
	line-height: 25px;
}
.stats > .titles > .answers,
.stats > .list > div > .answers {
	width: 40%;
}
.stats > .titles > .right,
.stats > .titles > .wrong,
.stats > .list > div > .right,
.stats > .list > div > .wrong {
	width: 15%;
}
.stats > .titles > .answers > .title {
	width: 100%;
}
.stats > .list > div > div {
	float: left;
}
.stats > .list > .local > .nick {
	text-decoration: underline;
}
.stats .list > div {
	color: #0050EF;
	font-size: 16px;
	height: 20px;
	line-height: 20px;
}
.stats .list > .notReady {
	color: #828282;
}
.stats .list > .gone {
	color: #2C2C2C;
}
.switchToggle {
	max-width: 264px;
	margin: 0 auto;
	padding: 15px 0;
	font-size: 20px;
	font-weight: bold;
	min-height: 23px;
	position: relative;
	text-align: left;
}
.switchToggle > .title {
	padding-right: 74px;
	padding-left: 5px;
}
.switchToggle:hover {
	cursor: pointer;
}
.switchToggle > .s {
	border: 3px solid white;
	position: absolute;
		top: 15px;
		right: 2px;
	width: 60px;
	height: 17px;
}
.switchToggle.selected > .s {
	background-color: #0050EF;
}
.switchToggle > .s:before,
.switchToggle > .s:after {
	content: '';
	display: block;
	position: absolute;
	border: 3px solid black;
}
.switchToggle > .s:before {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
}
.switchToggle > .s:after {
	background-color: white;
	width: 14px;
		top: -8px;
		bottom: -8px;
		left: -3px;
}
.switchToggle.selected > .s:after {
		left: 46px;
}